/* start var */
:root {
    --background: hsl(41deg 48% 6%);
    --main-color: #be9745;
    --transition: 0.3s;
    --margin-bottom: 80px;
    --back-color-two: #e9e9e9;
}
/* end var */
/* start global rules */
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Cairo', sans-serif;
    /* background-color: black; */
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}
ul {
    list-style: none;
}
@media (min-width: 768px) {
    .container{
        width: 750px;
    }
}
/* medium */
@media (min-width: 992px) {
    .container{
        width: 970px;
    }
}
/* large */
@media (min-width: 1200px) {
    .container{
        width: 1170px;
    }
}
/* end global rules */
/* start components */
.color {
    background-color: var(--main-color);
    background-image: linear-gradient(45deg, var(--main-color), #ffffff);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
} 
.sp-h {
    background-image: linear-gradient(45deg,  var(--main-color),  #000000);
    font-size: 90px;
    margin-top: var(--margin-bottom);
    margin-bottom: 0;
    text-align: center;
}
.sp-p {
    font-size: 20px;
    margin: 0;
    text-align: center;
    background-image: linear-gradient(45deg,  var(--main-color),  #000000);
} 
@media(max-width: 767px) {
.sp-h {
    font-size: 50px;
}
}
/* end components */
/* start header */
header {
    background-image: url("../imgs/header-b.jpg");
    background-size: cover;
    background-position: center;
    /* position: relative; */
    height: 100vh;
}
header::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb( 0 0 0 / 70%);
}
.nav {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    background-color: var(--background);
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    z-index: 3481290348209348;
}
.nav .l-dad {
    align-self: center;
}
.nav .logo {
    width: fit-content;
    height: 60px;
}
.nav ul {
    padding: 0;
    display: flex;
}
.nav ul li {
    display: flex;
}
.nav ul li a {
    font-size: 17px;
    padding: 20px;
    width: fit-content;
    color: white;
    transition: var(--transition);
    text-decoration: none;
    color: white;
    text-align: center;
    justify-content: center;
}
.nav ul a:hover {
    color: var(--main-color);
    
}
.nav  .to {
    padding: 20px;
    width: fit-content;
    color: white;
    transition: var(--transition);
    font-size: 33px;
    /* position: relative; */
    top: 6px;
}
@media (min-width: 768px) {
    .nav .to {
        display: none;
    }
}
@media (max-width: 767px) {
    .nav ul  {
        display: none;
    }
    .nav .to:hover + ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.504);
        /* z-index: 121314; */
    }
    .nav .to:hover + ul a {
        width: 100%;
    }
    .nav .to:hover + ul a:hover {
        border-bottom: 1px solid var(--main-color);
    }
}
header .text {
    width: fit-content;
    margin: auto;
    color: white;
    transform: translate(0px, 150px);
}
header .text h1 {
    text-align: center;
    font-weight: 600;
    font-size: 40px;
    letter-spacing: 16px;
}
.container hr {
    height: 4px;
    width: 200px;
    background-color: var(--main-color);
    border: none;
    border-radius: 40%;
}
header .text p {
    text-align: center;
    font-size: 35px;
}
@media (max-width: 767px) {
    header .text h1 {
        letter-spacing: 2px;
        font-size: 35px;
    }
}
@media (max-width: 420px) {
    header .text h1 {
        letter-spacing: 1px;
        font-size: 25px;
    }
}
/* end header */
/* start section */
/* start buy */
.buy {
    background-color: var(--back-color-two);
    padding-top: var(--margin-bottom);
    padding-bottom: var(--margin-bottom);
}
.buy .al {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    align-items: center;
}
.buy .al img {
    width: 400px;
    align-self: center;
}
@media (max-width: 423px) {
    .buy .al img {
        width: 300px;
    }
}
@media (max-width: 330px) {
    .buy .al img {
        width: 250px;
    }
}
.buy .al p {
    font-size: 20px;
    background-image: linear-gradient(45deg,  var(--main-color),  #000000);
}
.buy .al a {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: none;
    background-color: var(--background);
    color: white;
    padding: 10px 25px;
    transition: var(--transition);
    border-radius: 10px;
}
.buy .al a:hover {
    color: var(--main-color);
}
/* end buy */
/* start bed */
.bed .bed-box {
    margin-top: var(--margin-bottom);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 30px;
}
@media (max-width: 767px) {
    .bed .bed-box {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        gap: 30px;
    }
}
.bed .bed-box div {
    border-radius: 3%;
    box-shadow: 0px 0px 7px 4px black;
    transition: var(--transition);
}
.bed .bed-box div:hover {
    box-shadow: 0px 0px 7px 4px var(--main-color);
    transform: scale(1.1);

}
.bed .bed-box div:nth-of-type(1) {
    background-image: url("../imgs/women.png");
    background-size: cover;
    background-position: center;
    height: 300px;
    position: relative; 
}
.bed .bed-box div:nth-of-type(2) {
    background-image: url("../imgs/men.png");
    background-size: cover;
    background-position: center center;
    height: 300px;
    position: relative;
}
.bed .bed-box div:nth-of-type(3) {
    background-image: url("../imgs/other.png");
    background-size: cover;
    background-position: center center;
    height: 300px;
    position: relative;
}
.bed .bed-box div:nth-of-type(4) {
    background-image: url("../imgs/byus.png");
    background-size: cover;
    background-position: center center;
    height: 300px;
    position: relative;
}
.bed .bed-box div a  {
    background: black;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 65px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    transition: var(--transition);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
@media (max-width: 767px) {
    .bed .bed-box div a {
        font-size: 19px;
    }
}
.bed .bed-box div a:hover {
    color: var(--main-color);
}
/* end bed */
/* end section */
/* start our  */
.our .container .our-box {
    padding-top: var(--margin-bottom);
    padding-bottom: var(--margin-bottom);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px 30px;
}
.our .container .our-box-son {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.our .container .our-box-son i {
    font-size: 30px;
    color: var(--main-color);
}
.our .container .our-box-son h3 {
    background-image: linear-gradient(45deg,  var(--main-color),  #000000);
}
.our .container .our-box-son p {
    background-image: linear-gradient(45deg,  var(--main-color),  #000000);
    font-size: 14px;
}
@media (max-width: 340px) {
    .our .container .our-box {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
    .our .container .our-box-son p {
        font-size: 12px;
    }
}
/* end our  */
/* start contact  */
.contact {
    padding-top: var(--margin-bottom);
    padding-bottom: var(--margin-bottom);
    background-color: var(--back-color-two);
}
.contact .container > h2 {
    margin-top: 0;
}
.contact .text {
    text-align: center;
}
.contact .text p {
    direction: rtl;
    padding: 20px;
    color: var(--background);
    text-align: center;
    font-size: 30px;
}
.contact .text a {
    text-decoration: none;
    font-size: 30px;
    color: var(--main-color);
}
@media (max-width: 767px) {
    .contact .text a {
        font-size: 25px;
    }
}
@media (max-width: 300px) {
    .contact .text a {
        font-size: 22px;
    }
}
/* end contact  */
/* start footer  */
footer  {
    background-color: var(--background);
    color: white;
    padding: 10px 10px;
}
footer div:first-of-type {
    display: flex;
    justify-content: center;
}
footer div:first-of-type i {
    color: var(--main-color);
    padding: 5px 15px;
    font-size: 35px;
    transition: var(--transition);
}
footer div:first-of-type i:hover {
    color: #9a7b39;
}
footer div:last-of-type p {
    margin: 0;
    font-size: 20px;
    color: white;
    text-align: center;
    padding: 10px;
}
footer div:last-of-type p span:first-of-type {
    color: red;
}
footer div:last-of-type p span:last-of-type {
    color: var(--main-color);
}
/* end footer  */